<div class="container-lg mt-6 Console">
  <div class="Console-header">
    <div class="Console-header-btn">
      <svg
        viewBox="0 0 10 10"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <radialGradient id="fill-close">
            <stop offset="10%" stop-color="rgb(229,103,92)" />
            <stop offset="95%" stop-color="rgb(238,105,94)" />
          </radialGradient>
        </defs>
        <circle cx="5" cy="5" r="4" fill="url('#fill-close')" />
      </svg>
    </div>
    <div class="Console-header-btn">
      <svg
        viewBox="0 0 10 10"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <radialGradient id="fill-min">
            <stop offset="10%" stop-color="rgb(236,182,77)" />
            <stop offset="95%" stop-color="rgb(245,189,79)" />
          </radialGradient>
        </defs>
        <circle cx="5" cy="5" r="4" fill="url('#fill-min')" />
      </svg>
    </div>
    <div class="Console-header-btn">
      <svg
        viewBox="0 0 10 10"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle cx="5" cy="5" r="4" fill="rgb(97,195,84)" />
      </svg>
    </div>
  </div>
</div>
